@model websitebanhang.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}



<div class="hero-slide owl-carousel site-blocks-cover">
    <div class="intro-section" style="background-image: url(/Content/images/banner.jpg);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1>Academics University</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-section" style="background-image: url('/Content/images/banner2.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1>You Can Learn Anything</h1>
                </div>
            </div>
        </div>
    </div>

</div>




<div></div>

<h2 style="text-align: center; color: black; margin-top: 30px; "><a href="@Url.Action("Index","Category")" class=""><b>DANH MỤC</b></a></h2>

<div id="menu">
    <ul>
        @foreach (var item in Model.ListCategory)
        {



        <li>  @Html.ActionLink(item.Name, "ProductCategory", "Category", new { @Id = item.Id }, null)</li>



        }
    </ul>
</div>


<section class="padding-bottom">
    <div class="card card-deal">
        <div class="col-heading content-body">
            <header class="section-heading">
                <h3 class="section-title">Giảm giá sốc</h3>
                <p>Hygiene equipments</p>
            </header><!-- sect-heading -->
            <div class="timer">
                <div> <span class="num">04</span> <small>Days</small></div>
                <div> <span class="num">12</span> <small>Hours</small></div>
                <div> <span class="num">58</span> <small>Min</small></div>
                <div> <span class="num">02</span> <small>Sec</small></div>
            </div>
        </div> <!-- col.// -->
        <div class="row no-gutters items-wrap">
            @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 1).Take(3))
            {
                <div class="col-md col-6">
                    <figure class="card-product-grid card-sm">
                        <a href="@Url.Action("Detail","Product", new { Id = item.Id})" class="img-wrap">
                            <img src="~/Content/images/items/@item.Avatar">
                        </a>
                        <div class="text-wrap p-3">
                            @Html.ActionLink(item.Name, "Detail", "Product", new { Id = item.Id }, null)
                            <span class="badge badge-danger"> -20% </span>
                        </div>
                    </figure>
                </div> <!-- col.// -->
            }

        </div>
    </div>

</section>
<!-- =============== SECTION DEAL // END =============== -->
<!-- =============== SECTION 1 =============== -->
<section class="padding-bottom">
    <header class="section-heading heading-line">
        <h4 class="title-section text-uppercase">Apple</h4>
    </header>

    <div class="card card-home-category">
        <div class="row no-gutters">
            <div class="col-md-3">

                <div class="home-category-banner bg-light-orange">
                    <h5 class="title">Best trending clothes only for summer</h5>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <a href="#" class="btn btn-outline-primary rounded-pill">Source now</a>
                    <img src="~/Content/images/items/iphone13.jpg" class="img-bg">
                </div>

            </div> <!-- col.// -->
            <div class="col-md-9">
                <ul class="row no-gutters bordered-cols">
                    @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 1).Take(5))
                    {
                        <li class="col-6 col-lg-3 col-md-4">
                            <a href="@Url.Action("Detail", "Product", new { Id = item.Id })" class="item">
                                <div class="card-body">
                                    <h6 class="title">Well made women clothes with trending collection  </h6>
                                    <a href="@Url.Action("Detail", "Product", new { Id = item.Id })" class="img-wrap">
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                    </a>
                                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
</section>
<!-- =============== SECTION 1 END =============== -->
<!-- =============== SECTION 2 =============== -->
<section class="padding-bottom">
    <header class="section-heading heading-line">
        <h4 class="title-section text-uppercase">Samsung</h4>
    </header>

    <div class="card card-home-category">
        <div class="row no-gutters">
            <div class="col-md-3">

                <div class="home-category-banner bg-light-orange">
                    <h5 class="title">Machinery items for manufacturers</h5>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <a href="#" class="btn btn-outline-primary rounded-pill">Source now</a>
                    <img src="~/Content/images/items/samsung.jpg" class="img-bg">
                </div>

            </div> <!-- col.// -->
            <div class="col-md-9">
                <ul class="row no-gutters bordered-cols">
                    @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 2).Take(5))
                    {
                        <li class="col-6 col-lg-3 col-md-4">
                            <a href="@Url.Action("Detail", "Product", new { Id = item.Id })" class="item">
                                <div class="card-body">
                                    <h6 class="title">Well made electronic  stuff collection  </h6>
                                    <a href="@Url.Action("Detail", "Product", new { Id = item.Id })" class="img-wrap">
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                    </a>
                                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
</section>
<section class="padding-bottom">
    <header class="section-heading heading-line">
        <h4 class="title-section text-uppercase">Xiaomi</h4>
    </header>

    <div class="card card-home-category">
        <div class="row no-gutters">
            <div class="col-md-3">

                <div class="home-category-banner bg-light-orange">
                    <h5 class="title">Machinery items for manufacturers</h5>
                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <a href="#" class="btn btn-outline-primary rounded-pill">Source now</a>
                    <img src="~/Content/images/items/xiaomi.jpg" class="img-bg">
                </div>

            </div> <!-- col.// -->
            <div class="col-md-9">
                <ul class="row no-gutters bordered-cols">
                    @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 3).Take(5))
                    {
                        <li class="col-6 col-lg-3 col-md-4">
                            <a href="@Url.Action("Detail", "Product", new { Id = item.Id })" class="item">
                                <div class="card-body">
                                    <h6 class="title">Well made electronic  stuff collection  </h6>
                                    <a href="@Url.Action("Detail", "Product", new { Id = item.Id })" class="img-wrap">
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avatar">
                                    </a>
                                    <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
</section>
<section class="padding-bottom-sm">

    <header class="section-heading heading-line">
        <h4 class="title-section text-uppercase">Sản phẩm đề xuất</h4>
    </header>

    <div class="row row-sm">
        @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 1).Take(6))
        {
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div href="#" class="card card-sm card-product-grid">
                    <a href="@Url.Action("Detail", "Product", new { Id = item.Id })" class="img-wrap"> <img src="~/Content/images/items/@item.Avatar"> </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">@item.Name</a>
                        <div class="price mt-1">@item.Price</div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        }

    </div> <!-- row.// -->
</section>